In [29]:
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pandas as pd
from datetime import datetime

train_data = pd.read_csv("kaggle/cleaned/train.csv")
test_data = pd.read_csv("kaggle/cleaned/test.csv")

y = train_data["Survived"]

features = ["Pclass", "Sex", "AgeGroup", "FareGroup"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

# current date and time
now = datetime.now()
timestamp = str(datetime.timestamp(now)).replace('.','')

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

In [30]:
# Mean absolute error
from sklearn.metrics import mean_absolute_error
predictionsTrain = model.predict(X)
print(mean_absolute_error(y, predictionsTrain))

0.14814814814814814

# Export

In [31]:
output.to_csv('kaggle/output/my_submission_'+ timestamp +'.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [21]:
X

,Pclass,AgeGroup,Sex_female,Sex_male,"FareGroup_(-0.512, 51.233]","FareGroup_(102.466, 153.699]","FareGroup_(153.699, 204.932]","FareGroup_(204.932, 256.165]","FareGroup_(256.165, 307.398]","FareGroup_(461.096, 512.329]","FareGroup_(51.233, 102.466]"
0,3,NaN,0,1,1,0,0,0,0,0,0
1,1,NaN,1,0,0,0,0,0,0,0,1
2,3,NaN,1,0,1,0,0,0,0,0,0
3,1,NaN,1,0,0,0,0,0,0,0,1
4,3,NaN,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
886,2,NaN,0,1,1,0,0,0,0,0,0
887,1,NaN,1,0,1,0,0,0,0,0,0
888,3,NaN,1,0,1,0,0,0,0,0,0
889,1,NaN,0,1,1,0,0,0,0,0,0
890,3,NaN,0,1,1,0,0,0,0,0,0